
body {
  font-family: Arial, sans-serif;
  background-color: rgb(69, 166, 188);
  padding: 20px;
  color: #0077cc;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #167dc1;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.faq-items {
  background-color: #fff;
  border-left: 5px solid #0077cc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.faq-items h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #2586c7;
}

label {

  display: none;
  margin-bottom: 5px;
  align-items: center;
  color: #0077cc;
}

select {
  width: 100%;
  padding: 10px;
font: size 50px; ;
  border: 1px solid #2473e9;
  border-radius: 4px;
  background-color: #fafafa;
   align-items: center;
  color: #0077cc;
}
